


.flex-container{
    display: flex;
    flex-direction: column;
    height: 100%;
}
.container{
    display: table;
}

.container > div {
    flex: 4;
}

.left_side{
   
    position: absolute;
    width: 340vh;
    left: 0px;
}

.right_side{
   position: relative;
   width: 50%;
   left: 1200px;
}
.page_b{
    
    justify-content: left;
    width: 20%;
}
.top_page{
    background: lightgrey;
    height: 33%;
}
.middle_page{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    padding: 50px;
    position: relative;
    top: 500px;
    padding: 10%;
}

.form_content{
    
   
}

input{
    border : 2px solid #000;
    width: 250px;
    margin-bottom: 15px;
    padding: 5px;
    border-radius: 5px;
}

.fl_field{
    margin: 20px;
}

.ep_field{
    margin: 20px;
}

.pass{
    margin: 20px;
}

.bottom_right{

    position: relative;
    top: 700px;
    left: 50px;
}

.create_button{

    

    button{

        font-size: 25px;
        background-color: green;
        color: white;
    }
}