*{
    box-sizing: border-box;
}


.flex-container{
    display: flex;
    flex-direction: column;
    height: 100%;
}
.container{
    display: table;
}

.container > div {
    flex: 4;
}

.left_side{
   
    position: absolute;
    width: 420vh;
    left: 0px;
}

.right_side{
   position: absolute;
   width: 50%;
   right: 0px;
}
.page_b{
    
    justify-content: left;
    width: 20%;
}
.middle_form{
    justify-content: center;
}

.form_content{
    
    position: relative;
    top: 400px;
    left: -200px
}

input{
    border : 2px solid #000;
    width: 250px;
    margin-bottom: 15px;
    padding: 5px;
    border-radius: 5px;
}

.fl_field{
    margin: 20px;
}

.ep_field{
    margin: 20px;
}

.pass{
    margin: 20px;
}

.bottom_text{

    position: relative;
    top: 700px;
    left: 900px;
}

.create_button{

    

    button{
        background-color: green;
        color: white;
    }
}